@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

code, pre {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #0A2239;
  color: #FFFFFF;
}