.header {
  width: 100%;
  height: 64px;
  background-color: #0A2239;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  border-bottom: 2px solid #34435E;
  
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bolder;
  color: #FFFFFF;
  cursor: pointer;
}
  
.header-nav {
  display: flex;
  gap: 24px;
}

.nav-link {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #CBD5E1;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #FFFFFF;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-btn {
  padding: 8px 16px;
  background-color: #34435E;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  transition: background 0.2s ease;
}

.header-btn:hover {
  background-color: #1F3B4D;
}
