.home {
  padding: 60px 80px;
}

.hero {
  text-align: center;
  margin-bottom: 80px;
}

.hero-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 16px;
}

.hero-subtitle {
  font-size: 16px;
  color: #CBD5E1;
  max-width: 640px;
  margin: 0 auto 32px;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.primary-btn {
  padding: 12px 24px;
  background-color: #34435E;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.primary-btn:hover {
  background-color: #1F3B4D;
}

.secondary-btn {
  padding: 12px 24px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #34435E;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.secondary-btn:hover {
  background-color: #132E32;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 80px;
}

.stat-card {
  background-color: #34435E;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
}

.stat-card h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.stat-card p {
  color: #CBD5E1;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.feature-card {
  background-color: #132E32;
  padding: 24px;
  border-radius: 12px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.feature-card p {
  font-size: 14px;
  color: #CBD5E1;
}

.stat-card,
.feature-card,
.step-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.stat-card:hover,
.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.step-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(130, 114, 114, 0.25);  
}

.how-it-works {
  margin: 100px 0;
  text-align: center;
}

.how-it-works h2 {
  font-size: 28px;
  margin-bottom: 32px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.step-card {
  background-color: #0A2239;
  padding: 24px;
  border-radius: 12px;
}

.step-card span {
  font-size: 24px;
  font-weight: 600;
  color: #34435E;
}

.step-card p {
  margin-top: 8px;
  color: #CBD5E1;
  font-weight: bold;
}

.step-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.step-card .icon {
  font-size: 34px;
  color: #34435E;
}

.step-card:hover .icon {
  color: #ffffff;
  transform: scale(1.15);
  transition: 0.25s ease;
}


.cta {
  margin-top: 120px;
  padding: 60px;
  text-align: center;
  background: linear-gradient(135deg, #0A2239, #132E32);
  border-radius: 16px;
}

.cta h2 {
  font-size: 30px;
  margin-bottom: 24px;
}
