.problem-detail {
  display: flex;
  height: calc(100vh - 64px);
}

.problem-left {
  width: 50%;
  padding: 32px;
  overflow-y: auto;
  background-color: #0A2239;
}

.problem-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #132E32;
  border-left: 1px solid #34435E;
}

.problem-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}

.problem-meta {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.acceptance {
  color: #CBD5E1;
  font-size: 14px;
}

.problem-description p {
  font-size: 15px;
  color: #E5E7EB;
  line-height: 1.6;
  margin-bottom: 16px;
}

.problem-example {
  margin-top: 24px;
}

.problem-example h3 {
  margin-bottom: 8px;
}

.problem-example pre {
  background-color: #34435E;
  padding: 16px;
  border-radius: 8px;
  font-size: 14px;
  color: #FFFFFF;
  overflow-x: auto;
}

.editor-header {
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0A2239;
  border-bottom: 1px solid #34435E;
}

.language-select {
  background-color: #132E32;
  color: #FFFFFF;
  border: 1px solid #34435E;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.editor-actions {
  display: flex;
  gap: 12px;
}

.secondary-btn{
  padding-top: 2px ;
  padding-bottom: 2px
}


.primary-btn{
  padding-top: 2px ;
  padding-bottom: 2px
}

.editor-container {
  flex: 1;
}
