.profile-page {
  padding: 40px 80px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34435E;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 32px;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 128px; 
  height: 128px;
  border-radius: 50%;
  background-color: #0A2239;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  margin-left: 30px ;
}

.profile-info h1 {
  font-size: 20px;
  font-weight: 600;
}

.username {
  font-size: 14px;
  color: #CBD5E1;
}

.profile-right {
  display: flex;
  align-items: center;
}

.rating-card {
  background-color: #132E32;
  padding: 16px 24px;
  border-radius: 10px;
  text-align: center;
  margin-right: 80px;
}

.rating-title {
  font-size: 13px;
  color: #CBD5E1;
}

.rating-value {
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.profile-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 32px;
}

.stat-box {
  background-color: #132E32;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.stat-box h3 {
  font-size: 14px;
  color: #CBD5E1;
  margin-bottom: 6px;
}

.stat-box p {
  font-size: 22px;
  font-weight: 600;
}

.profile-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.profile-card {
  background-color: #34435E;
  padding: 24px;
  border-radius: 12px;
}

.profile-card h2 {
  font-size: 16px;
  margin-bottom: 12px;
}

.profile-card p {
  font-size: 14px;
  color: #CBD5E1;
}

.activity-list {
  list-style: none;
  padding: 0;
}

.activity-list li {
  font-size: 14px;
  color: #CBD5E1;
  margin-bottom: 8px;
}

.submissions-card {
  grid-column: span 2;
}

.submission-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  font-size: 14px;
}

.submission-table th {
  text-align: left;
  padding: 10px;
  background-color: #0A2239;
  color: #CBD5E1;
}

.submission-table td {
  padding: 10px;
  border-bottom: 1px solid #1e293b;
}

.submission-table tr:hover {
  background-color: #132E32;
}

.status.accepted {
  color: #22c55e;
  font-weight: 600;
}

.status.wa {
  color: #ef4444;
  font-weight: 600;
}

.status.tle,
.status.mle {
  color: #f59e0b;
}

.submission-title {
  cursor: pointer;
  font-weight: 600;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.edit-profile-btn {
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #132E32;
  color: #CBD5E1;
  transition: background-color 0.2s ease, transform 0.15s ease;
  margin-left: 28px;
}

.edit-profile-btn:hover {
  background-color: #0A2239;
  transform: translateY(-1px);
}
