.sd-container {
  min-height: calc(100vh - 64px);
  background-color: #0A2239;
  padding: 32px;
  color: #E5E7EB;
}

.sd-header {
  margin-bottom: 24px;
}

.sd-title {
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}

.sd-title:hover{
  text-decoration: underline;
}

.sd-badges {
  display: flex;
  gap: 12px;
}

.sd-badge {
  padding: 4px 12px;
  border-radius: 14px;
  font-size: 13px;
  font-weight: 600;
}

.sub-difficulty.easy {
  /* background-color: rgba(7, 230, 15, 0.15); */
  color: #07e60f;
}

.sub-difficulty.medium {
  /* background-color: rgba(255, 193, 7, 0.15); */
  color: #ffc107;
}

.sub-difficulty.hard {
  /* background-color: rgba(239, 68, 68, 0.15); */
  color: #ef4444;
}

.sd-status.accepted {
  background-color: rgba(7, 247, 15, 0.15);
  color: #07e60f;
}

.sd-status.wrong {
  background-color: rgba(239, 68, 68, 0.15);
  color: #ef4444;
}

.sd-code-container {
  background-color: #34435E;
  border: 1px solid #34435E;
  border-radius: 12px;
  padding: 20px;
  overflow-x: auto;
}

.sd-code {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  white-space: pre;
  line-height: 1.6;
}
